body {
  width: 940px;
  margin: 1em auto;
}
a, a:visited {
  color: #c03;
}
a:hover {
  color: #f04;
}
#header {
  margin-bottom: 0.25em;
  font-size: 270%;
  font-weight: bold;
  color: #c03;
}
#header img {
  margin-right: 0.25em;
}
#header h2 {
  color: #666;
  font-size: 45%;
  margin: 0 0 1em 0;
}
#chromosome_nav ul {
  margin: 0;
  padding: 0;
}
#chromosome_nav li {
  list-style:none;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #ccc;
  color: #c03;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#chromosome_nav a, #chromosome_nav a:visited {
  color: #c03;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0.25em 0.95em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0;
}
#chromosome_nav a:hover {
  color: #fff;
  background-color: #cca3ad;
}
#chromosome_nav span.current {
  color: #fff;
  background-color: #c03;
  margin: 0;
  padding: 0.25em 0.95em;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0px solid #c03;
}
#zoom_control {
  display: inline-block;
  margin: 1em 0;
  background-color: #ccc;
  color: #c03;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#zoom_control span {
  padding: 0.25em 0.95em;
  display: block;
  color: #999;
}
#zoom_control a, #zoom_control a:visited {
  color: #c03;
  text-decoration: none;
  display: block;
  padding: 0.25em 0.95em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#zoom_control a:hover {
  color: #fff;
  background-color: #cca3ad;
}

/* cytoband gie stains start */
.gneg {
  background-color: #fff;
}
.gpos25 {
  background-color: #c0c0c0;
}
.gpos50 {
  background-color: #808080;
}
.gpos75 {
  background-color: #a9a9a9;
}
.gpos100 {
  background-color: #000;
}
.acen { /* centromere */
  background-color: #;
}
.gvar { /* a diagonal black-on-white pattern */
  background-color: #;
}
.stalk { /* a narrower gray region, an acrocentric stalk */
  background-color: #808080;
}

/* cytoband gie stains end */