body {
  width: 940px;
  margin: 1em auto;
}
#header {
  margin-bottom: 0.25em;
  font-size: 270%;
  font-weight: bold;
  color: #f03;
}
#header img {
  margin-right: 0.25em;
}
#chromosome_nav ul {
  margin: 0;
  padding: 0;
}
#chromosome_nav li {
  list-style:none;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #ccc;
  color: #f03;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#chromosome_nav a, #chromosome_nav a:visited {
  color: #f03;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0.25em 0.95em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0;
}
#chromosome_nav a:hover {
  color: #fff;
  background-color: #f89;
}
#chromosome_nav span.current {
  color: #fff;
  background-color: #f03;
  margin: 0;
  padding: 0.25em 0.95em;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0px solid #f03;
}
#zoom_control {
  display: inline-block;
  margin: 1em 0;
  background-color: #ccc;
  color: #f03;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#zoom_control span {
  padding: 0.25em 0.95em;
  display: block;
  color: #999;
}
#zoom_control a, #zoom_control a:visited {
  color: #f03;
  text-decoration: none;
  display: block;
  padding: 0.25em 0.95em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#zoom_control a:hover {
  color: #fff;
  background-color: #f89;
}