<h1>Summary of Data</h1>

<table>
  <tr>
    <td rowspan="2"></td>
    <th colspan="2">Training Set (P1)</th>
    <th colspan="2">Validation Set (P2)</th>
    <th colspan="2">Validation Set (P3)</th>
    <th colspan="2">Pinto et al.<sup>1</sup></th>
    <th colspan="2">Marshall et al.<sup>2</sup></th>
  </tr>
  <tr>
    <th>ASD</th>
    <th>Control</th>
    <th>ASD</th>
    <th>Control</th>
    <th>ASD</th>
    <th>Control</th>
    <th>ASD</th>
    <th>Control</th>
    <th>ASD</th>
    <th>Control</th>
  </tr>
  <tr>
    <td>Cases</td>
    <td>90</td>
    <td>55</td>
    <td>168</td>
    <td>103</td>
    <td>25</td>
    <td>25</td>
    <td>996</td>
    <td>1,287</td>
    <td>427</td>
    <td>500</td>
  </tr>
  <tr>
    <td>Differentially Expressed Probes<sup>*</sup><br /> or CNV Regions<sup>#</sup></td>
    <td colspan="2">2,872<sup>*</sup></td>
    <td colspan="2">921<sup>*</sup></td>
    <td colspan="2">174<sup>*</sup></td>
    <td colspan="2">341<sup>#</sup></td>
    <td colspan="2">372<sup>#</sup></td>
  </tr>
</table>
<p><sup>1</sup><a href="http://www.ncbi.nlm.nih.gov/pubmed/20531469">Pinto et al. <em>Nature</em>. 2010</a>.</p>
<p><sup>2</sup><a href="http://www.ncbi.nlm.nih.gov/pubmed/18252227">Marshall et al. <em>Am J Hum Genet</em>. 2008</a>.</p>
<p><sup>#</sup> CNV &ge; 2 or CNV &le; -1</p>
<p><sup>*</sup>p-value &lt; 0.001</p>


<h1>Summary of Overlapping Loci</h1>

<table>
  <tr>
    <td></td>
    <th>P1</th>
    <th>P2</th>
    <th>P3</th>
    <th>Pinto et al.</th>
  </tr>
  <tr>
    <th>P2</th>
    <td>265</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>P3</th>
    <td>47</td>
    <td>60</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>Pinto et al.</th>
    <td>67</td>
    <td>21</td>
    <td>2</td>
    <td></td>
  </tr>
  <tr>
    <th>Marshall et al.</th>
    <td>299</td>
    <td>101</td>
    <td>20</td>
    <td>62</td>
  </tr>
</table>

<h1>Browse Overlapping Loci by Chromosome</h1>
<%= chromosome_nav()%>
